<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].subscribe_label | default: "Subscribe" }}</h4>
    <p class="small">{{ site.data.ui-text[site.locale].subscribe_info | default: "Enter your email and receive notifications of new posts!" }}</p>
  {% endif %}
  <form
    action="https://formspree.io/f/xdobepbk"
    method="POST">
    <label>
      Email:
      <input type="email" name="_replyto" placeholder="youremail@email.com">
    </label>
    <button type="submit">Send</button>
  </form>
</section>

